<configuration>
	<appSettings>
		<add key="SPACESHIP_IMAGE" value="SpaceShip.png"/>
		<add key="SPACESHIP_GHOST_IMAGE" value="SpaceShipGhost.png"/>
		<add key="SIMPLE_BULLET_IMAGE" value="bullet.png"/>
		<add key="SIMPLE_BULLET_REVERSE_IMAGE" value="bulletReverse.png"/>
		<add key="STRONG_BULLET_IMAGE" value="strongBullet.png"/>
		<add key="STRONG_BULLET_REVERSE_IMAGE" value="strongBulletReverse.png"/>
		<add key="HOMING_BULLET_IMAGE" value="homingBullet.png"/>
		<add key="BASIC_ENEMY_IMAGE" value="BasicEnemy.png"/>
		<add key="FAST_ENEMY_IMAGE" value="FastEnemy.png"/>
		<add key="STRONG_ENEMY_IMAGE" value="StrongEnemy.png"/>
		<add key="FAST_SUPPLY_IMAGE" value="faster.png"/>
		<add key="HEAL_SUPPLY_IMAGE" value="heal.png"/>
		<add key="SHIELD_SUPPLY_IMAGE" value="shield.png"/>
		<add key="STRONG_SUPPLY_IMAGE" value="strong.png"/>
		<add key="SIMPLE_BOSS_IMAGE" value="boss0.png"/>
		<add key="FAST_BOSS_IMAGE" value="boss1.png"/>
		<add key="STRONG_BOSS_IMAGE" value="boss2.png"/>
		<add key="ASTEROID_IMAGE" value="asteroid.png"/>
		<add key="RIGHT" value="D"/>
		<add key="LEFT" value="A"/>
		<add key="UP" value="W"/>
		<add key="DOWN" value="S"/>
		<add key="SHOOT" value="Space"/>
		<add key="PAUSE" value="P"/>
		<add key="FAST_SUPPLY" value="U"/>
		<add key="HEAL_SUPPLY" value="I"/>
		<add key="STRONG_SUPPLY" value="T"/>
		<add key="GHOST_SUPPLY" value="Y"/>
		<add key="BOSS_SPAWN_SCORE" value="200"/>
		<add key="ASTEROID_SPAWN_TIME" value="20"/>
		<add key="ENEMY_SPAWN_TIME_FIRST" value="4"/>
		<add key="ENEMY_SPAWN_TIME_SECOND" value="3"/>
		<add key="ENEMY_SPAWN_TIME_THIRD" value="2"/>
		<add key="ENEMY_SPAWN_TIME_FOURTH" value="1"/>
	</appSettings>
</configuration>